.boxs{
    background: var(--text-white);
    max-width: 300px;
    border-radius: var(--radius-10);
    border: 1px solid #ccc;
    
}

.fillter_change{
    
    p{
        padding: 20px 20px 10px 20px;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
    }
    
}
